<ul>
    <% @questions.each do |questions| %>
        <li>
            <%= link_to questions.title, questions %>
            <%= " created at #{time_ago_in_words(questions.created_at)} ago" %>
        </li>
    <% end %>
</ul>


